<!DOCTYPE html>
<html lang="en">


  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  <link rel="stylesheet" href="app.component.css">
  
  <title>Frontend Mentor | Product preview card component</title>

  <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
  <style>
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
  </style>

<body>
  <div class="desktop">
    <div class="description-block"> 
  
      <img src='https://rooyas.com/cdn/shop/products/chanel_blue-de-chanel-parfum_2048x2048.jpg?v=1657935236' 
        alt="Product Image"  class="product-image">
      <div class="text-block">

        <h3 class="text-1">
          COLOGNE 
          </h3>
        <h1 class="text-2">
          Bleu de Chanel Eau de Parfum
        </h1>
        <p class="text-3">Powerful and refined, the Parfum for men reveals the essence of independence and determination. A timeless scent with a strong masculine signature.
        </p>
        <div class="text-4">
        <h1 class="new-price">$149.99</h1> 
        <div class="old-price"><h4>$169.99</h4></div>
        </div>

        <div class="submit">
          <button type="button" class="cart-button"> 🛒 Add to Cart</button>
        </div>
      </div>
    </div>  
    <div class="attribution"> 
      Coded by <a href="#">Joanthony McGee</a>
      Resources: <a href="https://emojipedia.org/shopping-cart/">Shopping cart emoji</a> |
      <a href="https://rooyas.com/cdn/shop/products/chanel_blue-de-chanel-parfum_2048x2048.jpg?v=1657935236">Product Image</a>
    </div>
  </div>
</body>
</html>